* {
  list-style: none;
}

/* ===== Base styles ===== */
body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

h1, h2, h3, h4, h5, h6,
p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}


.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* ===== Header ===== */


.header-link {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #2e2f42;
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
}

/* Logo */


.logo-studio {
  color: #2e2f42;
}

/* Navigation */




/* hover / focus */
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

/* active page */
.nav-link.active {
  color: #404bbf;
}

.nav-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}





/* Contacts */


.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px
}

.contacts-link {
  color: #434455;
  text-decoration: none;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}



/* ===== Hero section ===== */


/* Button */


/* ===== Features ===== */








/* ===== Team ===== */






/* ===== Portfolio ===== */




/* ===== Footer ===== */


/* ===== Footer subscribe ===== */










/* ========================= */
/* ===== Overlay ===== */
/* ========================= */



.modal {
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  background-color: #FCFCFC;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  box-sizing: border-box;
  position: relative;
  padding: 72px 24px 24px 24px;
}


























