* {
  list-style: none;
}

/* ===== Base styles ===== */
body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

h1, h2, h3, h4, h5, h6,
p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}


.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* ===== Header ===== */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo{
  margin-right: 76px;
  padding: 24px 0;
}
.header-link {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #2e2f42;
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
}

/* Logo */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  text-decoration: none;
}

.logo-web {
  color: #4d5ae5;
}

.logo-studio {
  color: #2e2f42;
}

/* Navigation */
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}


.nav-link {
  display: block;
  position: relative;
  padding: 24px 0;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* hover / focus */
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

/* active page */
.nav-link.active {
  color: #404bbf;
}

.nav-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}





/* Contacts */
.contacts {
  font-style: normal;
  text-decoration: none;
  margin-left: auto;
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px
}

.contacts-link {
  color: #434455;
  text-decoration: none;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}



/* ===== Hero section ===== */
.hero {
  background-color: #2e2f42;
  display: block;
  padding: 188px 0;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(./../images/people-office.png);
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1440px;
  margin: 0 auto;
  background-size: cover;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto;
}

/* Button */
.hero-button {
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin: 48px auto 0 auto;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* ===== Features ===== */
.features{
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-container {
  display: block;
  align-items: center;
}

.features-main-title{
  text-align: center;
}

.features-list {
  display: flex;
  box-sizing: border-box;
  gap: 24px;
}

.features-element {
  box-sizing: border-box;
  width: calc((100% - 72px) / 4);
  display: block;
}

.features-icons-div {
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
  display: flex;
  border-radius: 4px;
  border: 1px solid #8E8F99;
  background-color: #F4F4FD;
  justify-content: center;
  align-items: center;
}

.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: #2E2F42;
}

.features-text {
  color: #434455;
  letter-spacing: 0.02em;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

/* ===== Team ===== */
.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-container {
  display: block;
  align-items: center;

}

.team-list {
  display: flex;
  box-sizing: border-box;
  gap: 24px;
}

.team-icons-list {
  display: flex;
  gap:24px;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  padding: 0;
}

.team-icon-link {
  display: block;
  height: 40px;
  width: 40px;
  background-color: #4D5AE5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link:hover,
.team-icon-link:focus {
  background-color: #404BBF;
}

.team-icon {
  fill: #f4f4fd
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}

.team-card {
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;
  flex-basis: 264px;
}

.team-card-container {
  padding: 32px 16px;
}

.team-image {
  width: 264px;
  height: 260px;
  display: block;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.team-role {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
}





/* ===== Portfolio ===== */
.portfolio {
  padding: 120px 0;
}

.portfolio-container {
  display: block;
  align-items: center;
}

.portfolio-list {
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;

}
.portfolio-text-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-card { 
  flex-basis: 360px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.portfolio-card:hover{
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.box {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #4D5AE5;
  padding: 40px 32px;
}

.overlay-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #F4F4FD;
  font-family: "Roboto", sans-serif;
}

.portfolio-card:hover .overlay {
  transform: translateY(0);
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}

.portfolio-image {
  width: 360px;
  height: 300px;
  object-fit: cover;
  display: block;
}

.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-top: 8px;
}
.portfolio-name, .portfolio-type {
  text-align: left;
}

/* ===== Footer ===== */
.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;

}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-info-container {
  margin-right: 120px;
}

.footer-studio {
  color: #f4f4fd;
}

.footer-icon-list{
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

.footer-text {
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 16px;
  max-width: 264px;
}

.footer-icon-link{
  width: 40px;
  height: 40px;
  background-color: #4D5AE5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: #31D0AA;
}

.footer-icon-text {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-icon{
  fill: #f4f4fd;
}

.footer-logo {
  color: #f4f4fd;
  text-decoration: none;
  display: inline-block;
}

/* ===== Footer subscribe ===== */

.footer-subscribe {
  margin-left: auto;
}

.footer-subscribe-form {
  display: flex;
  align-items: baseline;
  gap: 24px;
  margin-top: 16px;
}

.footer-subscribe-title{
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}



.footer-subscribe-input {
  background-color: transparent;
  border: none;
  padding: 8px 16px;
  width: 264px;
  height: 40px;
  outline: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  border: 1px solid #fff;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-input::placeholder {
  color: #ffffff;
}

.footer-subscribe-input:hover,
.footer-subscribe-input:focus {
  border-color: #31D0AA;
}

.footer-subscribe-btn {
  background-color: #4D5AE5;
  color: #fff;
  cursor: pointer;
  width: 165px;
  height: 40px;
  border-radius: 4px;
  padding: 8px 24px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
  background-color: #31D0AA;
}

.footer-subscribe-icon {
  fill: white;
  margin-left: 16px;
}

/* ========================= */
/* ===== Overlay ===== */
/* ========================= */


.modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top:0;
  left: 0;
  visibility: hidden;
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.modal {
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  background-color: #FCFCFC;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  box-sizing: border-box;
  position: relative;
  padding: 72px 24px 24px 24px;
}

.modal-close-btn {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  padding: 0;
  border-radius: 100%;
  background-color: #E7E9FC;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2E2F42;
  text-align: center;
  margin-bottom: 16px;
  text-align: center;
  width: 360px;
  margin-left: auto;
  margin-right: auto;
}

.form-close-icon {
  fill: #2E2F42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .form-close-icon,
.modal-close-btn:focus .form-close-icon {
  fill: #fff;
}



.form-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-top: 8px;
  color: #8E8F99;
}

.input-wrapper {
  position: relative;
}

.form-input {
  border-radius: 4px;
  border: 1px solid #2E2F42;
  height: 40px;
  width: 360px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0 4px 0 34px;
}

.form-input,
.form-textarea {
  border: 1px solid rgba(46, 47, 66, 0.4);
}

.form-input:focus,
.form-textarea:focus {
  border-color: #4D5AE5;
  outline: none;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-icon {
  fill: #4d5ae5;
}
.form-textarea {
  border-radius: 4px;
  resize: none;
  width: 360px;
  height: 120px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 16px;
  padding-top: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.form-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.form-checkbox-wrapper {
  margin-top: 16px; 
}

.form-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.form-checkbox-label {
  display: inline-flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #8E8F99;
  cursor: pointer;
}

.custom-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-icon {
  fill: #fff;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-text {
  margin-left: 8px;
}

.form-checkbox:checked + .form-checkbox-label .custom-checkbox {
  background-color: #404bbf;
  border-color: rgba(46, 47, 66, 0.4);
}

.form-checkbox:checked + .form-checkbox-label .checkbox-icon {
  opacity: 1;
}

.checkbox-a {
  color: #4D5AE5;
  text-decoration: underline;
}

.form-submit-btn {
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4D5AE5;
  border: none;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  display: block;

}

.form-submit-btn:hover,
.form-submit-btn:focus {
  background-color: #404bbf;
}